<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{ url_for('get_books') }}">Atrás</a>
    <h1>EDITAR LIBRO</h1>

    <form action="{{ url_for('edit_book', book_id=book.id) }}" method="post">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ book.titulo }}" required>

        <label for="autor">Autor:</label>
        <input type="text" id="autor" name="autor" value="{{ book.autor }}" required>

        <label for="genero">Género:</label>
        <input type="text" id="genero" name="genero" value="{{ book.genero }}" required>

        <label for="fecha_publicacion">Fecha_publicación:</label>
        <input type="text" id="fecha_publicacion" name="fecha_publicacion" value="{{ book.fecha_publicacion }}" required>

        <button type="submit">REALIZAR CAMBIOS</button>
    </form>
</body>
</html>